* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 1.5rem;
    font-family: "Manrope";
    background-color: var(--bg-color);
}

:root {
    --bg-color: #24292E;
    --primary-color: #f2f2f2;
    --secondary-color: #f89b29;
    --secondary-opacity:#f89b29e8;
    --terciary-color: #ff0f7b;
    --shadow-color: rgba(183, 183, 183, 0.2);
}

@font-face {
    font-family: "Mono";
    src: url(./public/assets/fonts/Mono.ttf);
}

@font-face {
    font-family: "Manrope";
    src: url(./public/assets/fonts/Manrope.ttf);
}