#form {
  margin: 1.7rem 0 1.5rem 0;
}

h2 {
  color: var(--primary-color);
  margin-bottom: 0.6rem;
  font-family: "Mono";
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color);
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

input[type="submit"] {
  padding: 8px 15px;
  background-color: var(--terciary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
  transition: all 0.5s;
}