.education-container {
    background-color: var(--secondary-opacity);
    padding: 20px;
    border-radius: 8px;
    filter: blur(3px);
  }

  .education-container:hover {
    filter: blur(0px);
    transition: all 0.5s;
  }
  
  .education-container h2 {
    font-size: 24px;
    margin: 0.5rem 0 1rem 0;
    color: var(--primary-color);
    font-family: "Mono";
  }
  
  .certificate {
    margin-bottom: 16px;
  }
  
  .certificate h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: var(--bg-color);
  }
  
  .certificate p {
    font-size: 16px;
    color: var(--primary-color);
  }

  
  @media (min-width: 576px) {

    .education-container {
      width: 60%;
      margin-bottom: 3rem;
    }
  }